/*
 *Name: [Gianna LaRosa]
 *UnityID: [glarosa]
 *Date: [9/23/22]
 *Assignment: [Website Design and Styling Independent Assignmen]
 *Description: [Website about Me for Independent Assignment]
 */
 
body {
    background-color: #FFFF00;
}
.table-border {
    border: 200px solid #00FF00;
}

#photo-resize {
    max-width: 200px;
	max-height: 250px;
}
